<div class="col-md-3">
    <h3 class="text-primary">Изучение Node js</h3>
    <img src="/pictures/download.png" alt="">
    <p>Переходите по ссылке чтобы узнать много нового</p>
    <a href="https://nodejs.org/en/" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Перейти
        на сайт</a>
</div>